* {
    font-family: "Karla", sans-serif;
  }
body{
    background-color: #dcdde1;
}
.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logOutbtn, .Post_comment_button{
    background-color: #2176FF;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.logOutbtn:hover {
    background-color: #4b73b3;
    transition: 1s;
    cursor: pointer;
}

#added_post_container {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    /* box shadow desighn */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.addPoat_btn{
    width: 100px;
    padding: 10px;
    background-color: #2176FF;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 200px;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.addPoat_btn:hover {
    background-color: #4b73b3;
    transition: 1s;
    cursor: pointer;
}

#added_post_container article h2 > {
    color: rgb(67, 67, 170);
}
#newPost_text {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 20px;
    width: 400px;
    font-size: 15px;
    border: none;   
}

#newPost_img {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 20px;
    width: 400px;
    font-size: 15px;
    border: none;
}

#post_container{
    width: 90%;
    background-color: #dcdde1;    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post{
    width: 60%;

    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.post_header{
    display: flex;
    align-items: center;
    gap: 5px;
}
.post_user_img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.post_username{
    margin: 0;
    font-size: 18px;
}
.posted_time{
    color: rgb(97, 89, 89);
    font-size: 12px;
}
.post_text_content{
    color: black;
    font-weight: 500;
    margin-left: 50px;
}
.post_img {
    display: flex;
    justify-content: center;
}
.post_img img {
    width: 80%;
    border-radius: 8px;
    height: 600px;
    margin: 15px;
}
.comment{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.comment_user_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment_text_container {
    background-color: #ffffff;
    color: rgb(83, 81, 81);
    padding: 5px;
    border-radius: 8px;
    width: 200px;
}
.comment_text_container h4{
    margin-bottom: 5px;
}
.comment_text_container h4 p {
    margin: 0;
}

.postComment_holder{
    display: flex;
    gap: 10px;
    margin: 15px;
    width: 100%;
    margin-left: 70px;
}
.post_comment_input_field_holder{
    width: 60%;
}
.post_comment_input_field{
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    width: 90%;
    border-radius: 18px;
    font-size: 16px;
}
.Post_comment_button{
 
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
}

/*! Update and delte */

.update_delete{
    display: flex;
    margin-left: 60%;
    gap: 10px;
    border-radius: 12px;
}
